.main {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }
  
  .container {
    display: grid;
    width: 80vw;
    grid-template-columns: repeat(4,1fr);
    grid-row-gap: 1rem;
    grid-column-gap: 1.5rem;
  }
  
  .image {
    text-align: center;
  }
  
  .image img {
      height: 200px;
      
  }
  
  .search {
    width: 80vw;
    border: 1px solid #aaa;
      border-radius: 0.5rem;
      padding: 0.5rem;
      font-size: 1.2rem;
      margin-bottom: 1rem;
  }
  
  .name {
    text-align: center;
  }
  
  @media screen and (max-width: 480px) {
      .container {
        display: grid;
        width: 80vw;
        grid-template-columns: repeat(1,1fr);
        grid-row-gap: 1rem;
        grid-column-gap: 1.5rem;
      }
  }
  
  @media screen and (max-width: 768px) {
    .container {
      display: grid;
      width: 80vw;
      grid-template-columns: repeat(2,1fr);
      grid-row-gap: 1rem;
      grid-column-gap: 1.5rem;
    }
  }